## Series and DataFrame

In [1]:
import pandas as pd

In [11]:
day_series = pd.Series(['mon','tues','wed','thur','fri','sat','sun'])
classes_series = pd.Series([5,4,8,2,6,1,0])

In [14]:
day_classes_DF = pd.DataFrame({"Weak":day_series,"No_Class":classes_series})
day_classes_DF

   Weak  No_Class
0   mon         5
1  tues         4
2   wed         8
3  thur         2
4   fri         6
5   sat         1
6   sun         0

In [15]:
day_classes_DF.to_csv('ex.csv')

[RangeIndex(start=0, stop=7, step=1),
 Index(['Weak', 'No_Class'], dtype='object')]

In [19]:
car_sales = pd.read_csv("7.1 car-sales.csv")

In [21]:
col_list = car_sales.columns
col_list

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [22]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [23]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000